<div class="row center">    
  <div class="col s9">
    <div class="card">
      <div class="card-content">
        <span class="card-title"><em>About GCPD</em></span>
        <p>
            The Gotham City Police Department (GCPD) Crime Tracker is a web application
            developed using Ruby on Rails and React. This application is used to simulate
            a system that the GCPD would use to keep track of crime.
        </p>
        <p>&nbsp;</p>
      </div>
    </div>
  </div>
</div>

